
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="content">
    <div class="donhangthanhcong">
        <h1>Thanh Toán Thành Công.</h1>
        @Html.ActionLink("Mua tiếp", "Products", "Product", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("XEM DANH SÁCH ĐƠN HÀNG", "DanhSachDonHang", "Payment", null, new { @class = "btn btn-primary" })
    </div>

</div>