
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="height: 80px;"></div>
<div class="background-AboutUs" style="background-color:black; width: auto; height: 800px; ">
    <div class="card-aboutus">
        <h1 style="text-align: center; color: #F9C813;"><b>GIỚI THIỆU THÀNH VIÊN NHÓM</b></h1>
        <div class="row">
            @*Nam*@
            <div class="col">
                <div class="card-boss">
                    <div class="img-boss">
                        <div class="img-boss-child border-neon">
                            <div class="khunganh1 ">
                                <img class="ava" src="~/Content/img_thanhvien/Nam.jpg" style=" " />
                            </div>

                        </div>

                    </div>
                    <div class="card-boss-text">
                        <h3><b>Lê Hoài Nam</b></h3>
                        <h5><b>2001215969</b></h5>
                        <h5>Chức vụ : Thành viên</h5>
                        <h5 style="color:red"><b>Nhiệm vụ</b></h5>
                        <p style="align-items:flex-start;">Thiết kế csdl , code web admin và web bán hoa (Back-End)</p>
                    </div>

                </div>
            </div>
            @*Thiên Anh*@
            <div class="col">
                <div class="card-boss">
                    <div class="img-boss">
                        <div class="img-boss-child border-neon">
                            <div class="khunganh1 ">
                                <img class="ava" src="~/Content/img_thanhvien/Anh.jpeg" style=" " />
                            </div>

                        </div>
                    </div>
                    <div class="card-boss-text">
                        <h3><b>Dương Thiên Anh</b></h3>
                        <h5><b>2001202010</b></h5>
                        <h5>Chức vụ : Nhóm trưởng</h5>
                        <h5 style="color:red"><b>Nhiệm vụ</b></h5>
                        <p style="align-items:flex-start;">Thiết kế csdl , code web admin và web bán hoa (Font-End)</p>
                    </div>

                </div>
            </div>
            @*Phú*@
            <div class="col">
                <div class="card-boss">
                    <div class="img-boss">
                        <div class="img-boss-child border-neon">
                            <div class="khunganh1 ">
                                <img class="ava" src="~/Content/img_thanhvien/Phu.jpg" style=" " />
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-boss-text">
                        <h3><b>Ngô Đình Phú</b></h3>
                        <h4><b>2001210744</b></h4>
                        <h5>Chức vụ : Thành viên</h5>
                        <h5 style="color:red"><b>Nhiệm vụ</b></h5>
                        <p style="align-items:flex-start;">Làm word , powerpoint</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

