<div class="cart-shopping" onclick="location.href='@Url.Action("Index", "Cart")'">
    <ion-icon name="bag-outline"></ion-icon>
    <span style="color:red;width:20px;text-align:center">@ViewBag.TongSoLuong</span>
</div>

