
@{
    ViewBag.Title = "EmptyCart";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="height:100px;"></div>
<div class="content123">
    <div class="donhangempty">
        <h1 class="content">Giỏ Hàng rỗng!!!</h1>
    </div>
</div>